@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@500&display=swap');

:root{
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
    --black:#000000;
    --red:#E61717;
    font-size: 100%;
}
a{
    color: #0000FF;
}
#lorem::first-letter{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #354e66;
    margin-right: 0.1em;
}
.cursive{
    font-family: cursive;
    text-align: justify;
}
#haut{
    background-color: #999950 ;
    margin: 0px -10px;
    padding: 15px 10px 5px 15px;
}

footer, header{
    background-color: #797676;
}

footer{
    margin: 1% 10% 0% 10% ;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}
@media screen and (orientation : portrait) {
    footer, #tableaucv{
        flex-direction: column;
    }
}
@media screen and (orientation : landscape) {
    footer, #tableaucv{
        flex-direction: row;
    }
}
aside{
    font-style: italic;
    color: #526d87;
    width: 20%;
    float: right;
    margin-left: 25px;
}
table, th, td  {
    border: 1px solid var(--black);
}
td{
    padding: 3px;
}
thead{
    background-color: var(--black);
    color: #FFFFFF;
}
tr:nth-child(even){
    background-color: #888888;
}
.titre_article{
    color: #0D4A0D
}
h3{
    margin-top: 3px;
}
h2{
    margin-bottom: 1px;
    color: #2f5b2f;
    text-decoration: underline;
    font-family: 'Montserrat','Muli', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.triplecolonne{
    grid-column-start: 1;
    grid-column-end: 4;
}
.image_centre{
    margin: 0% 30% 0% 30%;
}
dt{
    text-decoration: underline;
    font-weight: 500;
}
#retour{
    position: fixed;
    bottom: 0%; right: 0%;
    height: 72px;
    width: 72px;
}

#retour img:focus, #retour img:hover{
    border: 2px var(--black) solid;
    outline:2px var(--black) solid ;
    box-shadow: var(--black);
}

:target>h2{
    color:#9014cf;
}
#haut li, #haut li>a{
    color: #52182D;
}
h1, h1+h4{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 3px;
}
.lien:hover, .lien:focus{
    font-weight: 700;
    text-decoration: underline double;
    border: 1px solid var(--black);
}
input[name="Message"]+label{
    color: #0D8A0D;
    font-style: italic;
}
input:not([type="checkbox"]):required:invalid+label::after{
    content: "Le champ doit être complété";
    color: var(--red);
    text-decoration: underline dotted;
}
input[type="checkbox"]:required:not(:checked)+label::before{
    content:"La coche est indispensable";
    color: var(--red);
    text-decoration: underline;
    padding: 5px;
}
div+img{
    margin-top: 5px;
}
#tableaucv{
    display: flex;
    justify-content: space-around;

}
#tableaucv *{
    margin-left: 5px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;

}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#infocontact, #infocontact h4, #localisation{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
}

footer h2, header a{
    color: #0A0315;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: -15px -10px 0px -15px;
    padding: 10px 0px;
}